<form [formGroup]="form" (ngSubmit)="!form.invalid && submit()">
    <img src="./assets/icons/icon-512x512.png" alt="Main Icon">

    <h1>
        ThingApp
    </h1>

    <mat-form-field appearance="outline">
        <mat-label>
            Username
        </mat-label>
        
        <input matInput type="text" name="username" placeholder="username" formControlName="username" required>

        <mat-error *ngIf="errors.username">
            {{ errors.username }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>
            Password
        </mat-label>
        
        <input matInput type="password" name="password" placeholder="password" formControlName="password" required>

        <mat-error *ngIf="errors.password">
            {{ errors.password }}
        </mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">
        {{ loading ? '' : 'sign in' }}
        <mat-spinner class="mat-spinner-negative" diameter="25" *ngIf="loading"></mat-spinner>
    </button>
</form>