html,
body {
    margin: 0px;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
table {
    width: 100%;
    .mat-header-row {
        height: 30px !important;
    }
}
mat-toolbar {
    max-height: 56px !important;
}
mat-list {
    padding: 0px !important;
    mat-list-item {
        outline: none !important;
        mat-icon {
            margin-right: 16px;
        }
    }
    mat-list-item[type="button"] {
        cursor: pointer;
    }
    mat-list-item[lines="full"] {
        border-bottom: 1px solid #E0E0E0;
    }
    mat-list-item[lines="full"]:last-child {
        border-bottom: none;
    }
}